body {
    background-color:rgb(10, 10, 63);
    color:skyblue;
    
}

 header {
      font: size 70px;
      color:antiquewhite;
      border-bottom: solid 5px lightsteelblue;
      text-align: center;
 }

 section{
    display: flex;
    background-color:rgb(10, 10, 63);
    padding: 30px;
    justify-content: center;
    margin-top: 20px;

 }

 .texto{
    padding-right: 5%;
 }